* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', sans-serif;
}


body {
background: #f9fafb;
color: #111827;
}


section {
padding: 80px 10%;
}


button {
padding: 12px 24px;
border-radius: 8px;
border: none;
cursor: pointer;
}


